<nav class="navbar navbar-expand-lg fixed-top "   [class.p-4]="!isScrolling"
>
    <div class="container">
      <a class="navbar-brand text-white " routerLink="home">START FRAMEWORK    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto  ">
            <li class="nav-item">
                <a class="nav-link me-3 text-uppercase " routerLink="about" routerLinkActive="bgActve rounded">About</a>
              </li>
          <li class="nav-item">
            <a class="nav-link me-3 text-uppercase" routerLink="portfolio" routerLinkActive="bgActve rounded">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 text-uppercase" routerLink="contact" routerLinkActive="bgActve rounded">Contact</a>
          </li>
       
        </ul>
      </div>
    </div>
  </nav>
