
<section class="text-white section">
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <img src="	https://routeegy.github.io/startFramework/assets/images/avataaars.svg" width="250px" height="256px" alt="">
    <h1 class="mt-5">START FRAMEWORK</h1>
    <div class="d-flex flex-row my-2">
        <div class="line  me-3 mt-2"></div>
        <i _ngcontent-eua-c6="" class="fa-solid fa-star"></i>
        <div class="line  ms-3 mt-2"></div>

    </div>
    <p class="mt-2">Graphic Artist - Web Designer - Illustrator</p>
</div>
</section>
